<div class="grid-sizer"></div>
<div class="grid-item">
  <div class="card hoverable" style="width: 100%">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if project.img %}
          {%
            include figure.liquid
            path=project.img
            sizes = "150px"
            alt="project thumbnail"
          %}
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h4 class="card-title">{{ project.title }}</h4>
          <p class="card-text">{{ project.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
